Repository faraday-academy/curriculum-app: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, frontend-style

eslint:
  run: npm run lint:fix {staged_files}

frontend-style:
  run: npm --prefix ./curriculum-front run stylelint {staged_files}

Fix pre-commit hooks for linting and playwright tests
  .husky/_/pre-push
  .stylelintrc.json
  curriculum-front/e2e/vue.spec.js
  curriculum-front/playwright.config.js
  curriculum-front/src/assets/base.css
  curriculum-front/src/assets/main.css
  curriculum-front/src/components/create-form/FormSections.vue
  curriculum-front/src/components/create-form/MainForm.vue
  curriculum-front/src/components/display-curriculum/Sections.vue
  curriculum-front/src/stores/curricula/index.js
  curriculum-front/src/views/CreateCurriculum.vue
  curriculum-front/src/views/DisplayCurricula.vue
  curriculum-front/src/views/DisplayCurriculum.vue
  lefthook.yml
  package-lock.json
  package.json
Due: eslint, frontend-style

Remove data from jenkinsfile (#158)
  Jenkinsfile
  lefthook.yml
Due: none

Fix issues in pre commit hooks (#159)
  .husky/_/pre-push
  .stylelintrc.json
  curriculum-front/e2e/vue.spec.js
  curriculum-front/playwright.config.js
  curriculum-front/src/assets/base.css
  curriculum-front/src/assets/main.css
  curriculum-front/src/components/create-form/FormSections.vue
  curriculum-front/src/components/create-form/MainForm.vue
  curriculum-front/src/components/display-curriculum/Sections.vue
  curriculum-front/src/stores/curricula/index.js
  curriculum-front/src/views/CreateCurriculum.vue
  curriculum-front/src/views/DisplayCurricula.vue
  curriculum-front/src/views/DisplayCurriculum.vue
  lefthook.yml
  package-lock.json
  package.json
Due: eslint, frontend-style

Add theme toggle and update/fix styling
  curriculum-front/src/App.vue
  curriculum-front/src/assets/main.css
  curriculum-front/src/components/TopNav.vue
  curriculum-front/src/main.js
  curriculum-front/src/views/auth/AuthTemplate.vue
  curriculum-front/src/views/auth/ForgotPassword.vue
  curriculum-front/src/views/auth/Login.vue
  curriculum-front/src/views/auth/Register.vue
  curriculum-front/src/views/auth/ResetPassword.vue
Due: eslint, frontend-style

Add theme toggle and update/fix styling (#166)
  curriculum-front/src/App.vue
  curriculum-front/src/assets/main.css
  curriculum-front/src/components/TopNav.vue
  curriculum-front/src/main.js
  curriculum-front/src/views/auth/AuthTemplate.vue
  curriculum-front/src/views/auth/ForgotPassword.vue
  curriculum-front/src/views/auth/Login.vue
  curriculum-front/src/views/auth/Register.vue
  curriculum-front/src/views/auth/ResetPassword.vue
Due: eslint, frontend-style

Fix broken api calls
  curriculum-front/.env.local
  curriculum-front/.env.production
  curriculum-front/src/App.vue
  curriculum-front/src/utils/axiosConfig.js
Due: eslint

Fix connection to back end (#168)
  curriculum-front/.env.local
  curriculum-front/.env.production
  curriculum-front/src/utils/axiosConfig.js
Due: eslint

Delete Jenkinsfile
  Jenkinsfile
Due: none

Added Jenkinsfile
  Jenkinsfile
Due: none

Fix auth, mobile menu, other component warnings
  curriculum-front/src/App.vue
  curriculum-front/src/components/TopNav.vue
  curriculum-front/src/components/create-form/MainForm.vue
  curriculum-front/src/router/routes.js
  curriculum-front/src/stores/auth.js
  curriculum-front/src/stores/curricula/index.js
  curriculum-front/src/stores/general.js
  curriculum-front/src/views/CreateCurriculum.vue
Due: eslint

fix errors for page and menu load
  curriculum-back/server/api/auth.js
  curriculum-back/server/api/curricula.js
  curriculum-front/src/components/MobileDrawer.vue
  curriculum-front/src/components/create-form/MainForm.vue
  curriculum-front/src/components/display-curriculum/Header.vue
  curriculum-front/src/router/routes.js
  curriculum-front/src/stores/auth.js
  curriculum-front/src/views/CreateCurriculum.vue
  curriculum-front/src/views/DisplayCurriculum.vue
  curriculum-front/src/views/auth/Verify.vue
Due: eslint

Fix auth, mobile menu, other component warnings (#172)
  curriculum-back/server/api/auth.js
  curriculum-back/server/api/curricula.js
  curriculum-front/src/App.vue
  curriculum-front/src/components/MobileDrawer.vue
  curriculum-front/src/components/TopNav.vue
  curriculum-front/src/components/create-form/MainForm.vue
  curriculum-front/src/components/display-curriculum/Header.vue
  curriculum-front/src/router/routes.js
  curriculum-front/src/stores/auth.js
  curriculum-front/src/stores/curricula/index.js
  curriculum-front/src/stores/general.js
  curriculum-front/src/views/CreateCurriculum.vue
  curriculum-front/src/views/DisplayCurriculum.vue
  curriculum-front/src/views/auth/Verify.vue
Due: eslint

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  frontend-style: any of: *.{css,scss,sass}
